<%include partials/header%>
 <video autoplay loop muted id="myVideo">
  <source src="nature.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<div class= "container" id="content"> 
	<h1>Nature Niners</h1>
<div class="row">
	  
  <p>Nature Net is a network connecting the people belonging to all the age groups to nature across the different regions in the United States.</p>
  <p> The registered users can explore, propose the design ideas and contribute the projects which helps in improving the nature. These ideas can be implemented into actions based on the user votes for that particular idea.</p>
  <div >Create an account today and take a step forward! <a href="/register" class="btn  btn-primary btn-sm">Join Us</a></div>
 
</div>
</div>

<%include partials/footer%>
